/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

::selection,
::-moz-selection {
  background: $light-grey !important;
  color: $dark-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .25em 0;
  line-height: 1.25;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    font-weight: 700;
  }
}

h1 {
  margin-top: 2rem;
  font-size: $type-size-1;
}

h2 {
  margin-top: 1.5rem;
  font-size: $type-size-2;
}

h3 {
  margin-top: 1.25rem;
  font-size: $type-size-3;
}

h4, h5, h6 {
  margin-top: 1rem;
}

h4 {
  font-size: $type-size-4;
}

h5 {
  font-size: $type-size-5;
}

h6 {
  font-size: $type-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

b, strong {
  font-weight: bold;
}

i, em, dfn {
  font-style: italic;
}

p {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {  
  border-left: 6px solid $main;
  margin: 0;
  margin-right: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  
  p {
    font-style: italic;

    &:first-child {
      margin-top: 0;
      &::before {
        content: open-quote;
      }
      &::after {
        content: close-quote;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* links */

a {
  font-weight: 700;
  text-decoration: none;
  
  &:focus {
    @extend %tab-focus;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
  }
}

/* internal links */
a { 
  color: $link-color-internal;
}

/* external links */
a[href*='//'] { 
  color: $link-color-external;
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: $type-size-6;
  background: $code-background-color;
  border-radius: $border-radius;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  border: 0;
  border-top: 1px solid $border-color;
  position: relative;
  width: 100%;
  padding: 0;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

ul, ol, dl {
  margin: 0 0 1.5em 0;
}

ol, ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
  max-width: 100%;
  margin-left: 1em;
}

ol ol {
  margin: 0.5em 0 1em;
}

ul {
  ul, ol {
    margin: 0.5em 0 1em;
  }
}

ol ul {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  color: $dark-grey;
  text-align: right;
}

dd {
  margin: 0 0 5px 0;
  text-align: left;
}

/* mark */

mark {
  background-color: $mark-color;
}

/*
   Media and embeds
   ========================================================================== */

audio, canvas, iframe, img, svg, video {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  vertical-align: middle;
}

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    border: 0;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}
