/* == Common == */

main {

	section.header {
	  
	 	article.subtitle {
			font-size: $type-size-7;
			font-weight: 400;
	  	}
	  	
  	}

}

li > p {
  margin: 0.5em 0;
}

.tags {
  * {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
  }
}
