/* == Footer == */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  
  font-size: $type-size-7;

  > p {
    margin: 0.25em;
  }

  .social_links {

  	font-size: $type-size-4;

  	a {
  		color: var(--text-color);
  		
  		&:hover {
    		text-decoration: none;
    		color: var(--muted-text-color);
    	}
  	}
  }

}
