/* == Header == */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  h1.title {
    
    a {
     	font-weight: 500;

      	&:hover {
        	text-decoration: none;
      	}

    }
  }

  * {
    margin: 0;
  }

  nav {
  	display: flex;
    flex-direction: row;
    align-self: center;    
    margin-top: 1em;

    * {
      margin: 0 0.5em;
    }
  }

}