/* == Main == */

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;

  padding: $main-padding-top $main-padding-side $main-padding-down $main-padding-side;

  > * {
  	padding: 0em 3em;
  }
  
}

.footnotes {
  border-top: 1px solid $light-grey;
}