/* == Main == */

body {
  padding-left: $header-width;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;

  padding: $main-padding;
}

.footnotes {
  border-top: 1px solid $light-grey;
}