/* == NOTICE TEXT BLOCKS == */

@mixin notice($notice-color) {

	background-color: rgba($notice-color, var(--alpha));

	a {
		color: $notice-color;
	}

}

.notice {

	font-family: $global-font-family;
	font-size: $type-size-6;
	text-indent: initial;
	border-radius: $border-radius;

	margin: 2em 0;
	padding: 1em;

	&.standard {
		@include notice($default-color);
	}

	&.info {
		@include notice($info-color);
	}

	&.warning {
		@include notice($warning-color);
	}

	&.success {
		@include notice($success-color);
	}

	&.error {
		@include notice($error-color);
	}
 
}