/* == Page/post == */

.post-content {
  > p:first-child:first-letter {
    color: $text-color;
    float: left;
    font-size: 75px;
    font-weight: 500;
    line-height: 60px;
    padding-right: 5px;
  }
}