/* == Page/post == */

.post-content {
  > p:first-child:first-letter {
    color: var(--text-color);
    float: left;
    font-size: 75px;
    font-weight: 500;
    line-height: 60px;
    padding-right: 5px;
  }
}

.page__share {
	display: flex;
	flex-direction: row;
  	align-items: center;
  	justify-content: center;

  	font-size: $type-size-5;

  	margin-top: 2em;

  	> * {
      margin: 0 0.5em;
    }
}