/* == Page/post == */

.page-title, 
.post-title {
  margin-top: 0;
}

.post-title {
  margin: 0;
}

.post-subtitle {
  margin-top: 0.5em;
  padding-bottom: 0.9em;
  font-size: $type-size-7;
  font-weight: 400;
}

.post-content {
  > p:first-child:first-letter {
    color: $text-color;
    float: left;
    font-size: 75px;
    font-weight: 500;
    line-height: 60px;
    padding-right: 5px;
  }
}