
/* Small Screens */
@media only screen and (max-width: $medium) {
  body {
    padding: 0;
  }

  header {
    padding: $body-padding-small;
  }
  
  main {
    padding: $main-padding-top-small $main-padding-side-small $main-padding-down-small $main-padding-side-small; 
  }
  
  footer {
    margin-left: 0;
    padding: 2em 2em 1em 2em;
    width: auto;
  }

  h1 {
    font-size: $type-size-3;
  }

  h2 {
    font-size: $type-size-3;
  }

  h3 {
    font-size: $type-size-4;
  }

  h4 {
    font-size: $type-size-5;
  }

  figure {
    &.full {
      width: calc(100% + #{$main-padding-side-small} + #{$main-padding-side-small});
      margin-left: calc(-1 * #{$main-padding-side-small});
      margin-right: calc(-1 * #{$main-padding-side-small});
    }
  }

}