/* == Variables == */

/* Typography */

$doc-font-size: 16 !default;

/* system typefaces */
$sans-serif: -apple-system, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !default;
$monospace: 'SF Mono', Monaco, Consolas, "Lucida Console", monospace !default;

$global-font-family: $sans-serif !default;
$caption-font-family: $sans-serif !default;

/* type scale */
$type-size-1: 2.341em !default; // ~36.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

/* Colors */

/* dark syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

$dark-grey: #222 !default;
$light-grey: #DDDD !default;
$white: #FFFFFF !default;
$main: #52ADC8 !default;

$main-light-color: $white;
$main-dark-color: $dark-grey;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $main-dark-color !default;
$yiq-contrasted-light-default: $main-light-color !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

$code-background-color: $base00;
$link-color-external: $main !default;

$default-color:#808080 !default;
$success-color: #4aa64a !default;
$warning-color: #dfb036 !default;
$error-color: #f5569d !default;
$info-color: #3799f0 !default;
$mark-color: #fecd35 !default;
$alpha-light: 0.2;
$alpha-dark: 0.4;

/* brands */
$github-color: #171516 !default;
$instagram-color: #517fa4 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$rss-color: #fa9b39 !default;
$stackoverflow-color: #fe7a15 !default;
$twitter-color: #55acee !default;

/* Breakpoints */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;

/* Other */

$border-radius: 8px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;

/* Layout */
$body-padding: 2em !default;
$main-padding-top: 0em !default;
$main-padding-side: 15vw !default;
$main-padding-down: 2em !default;

$body-padding-small: 1em !default;
$main-padding-top-small: 0em !default;
$main-padding-side-small: 5vw !default;
$main-padding-down-small: 0.75em !default;

$figure-spacing-side: 10%;
$figure-spacing-topbottom: 2.5%;