/* == Variables == */

/* Typography */

$doc-font-size: 16 !default;

/* system typefaces */
$sans-serif: -apple-system, "Source Sans Pro", "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$monospace: 'SF Mono', Monaco, Consolas, "Lucida Console", monospace !default;

$global-font-family: $sans-serif !default;
$caption-font-family: $sans-serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

/* Colors */

$dark-grey: #282822 !default;
$grey: #808080 !default;
$light-grey: #CCCC !default;

$primary-color: $dark-grey !default;
$success-color: #62c462 !default;
$warning-color: #f89406 !default;
$danger-color: #ee5f5b !default;
$info-color: #257ede !default;

$background-color: #fff !default;
$text-color: $dark-grey !default;
$muted-text-color: mix(#fff, $text-color, 35%) !default;
$code-background-color: #263238 !default;
$border-color: $dark-grey !default;

/* links */
$link-color: $dark-grey !default;
$link-color-hover: $grey !default;
$link-color-visited: $dark-grey !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-grey !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* brands */
$github-color: #171516 !default;
$instagram-color: #517fa4 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$rss-color: #fa9b39 !default;
$stackoverflow-color: #fe7a15 !default;
$twitter-color: #55acee !default;

/* Breakpoints */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;

/* Other */

$border-radius: 8px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;

/* Layout */
$header-width: 18em !default;
$main-padding: 6em !default;