@import "sass";

$baseDarkGrey: #282822 !default;
$baseGrey: #808080 !default;
$baseLightGrey: #CCCC !default;
// $baseWhiteGrey: #E5EFF5 !default;
$baseBlue: #52ADC8 !default;
// $baseGreen: #A4D037 !default;
// $basePurple: #AD26B4 !default;
// $baseYellow: #FECD35 !default;
// $baseRed: #F05230 !default;
// $basePink: #FA3A57 !default;
// $baseBrown: #A3821A !default;

$baseHeaderWidth: 18em !default;
$basePaddingContent: 6em !default;

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img, iframe {
  max-width: 100%;
}

sub {
  position: relative;
  font-size: $type-size-7;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  position: relative;
  font-size: $type-size-7;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

mark {
  background-color: #fdffb6;
}

button, input, optgroup, select, textarea {
  margin: 0;
  color: inherit;
}

button {
  overflow: visible;
  border: none;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type="button"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
  &[type="reset"], &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  line-height: normal;
  &:focus {
    outline: none;
  }
  &[type="checkbox"], &[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  &[type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      height: auto;
    }
  }
  &[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em auto;
  width: 80%;
  border: 2px $baseDarkGrey solid;
  table-layout: fixed;
  word-wrap: break-word;
}

td {
  padding: 0.5em;
}

th {
  font-weight: bold;
  border-bottom: 1px $baseDarkGrey solid;
}

// --------------------------------

body {
  padding-left: $baseHeaderWidth;
}

main {
  padding-left: $basePaddingContent;
  padding-right: $basePaddingContent;
  padding-top: $basePaddingContent;
  padding-bottom: $basePaddingContent;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $baseHeaderWidth;
}

footer {
  padding: 2em 2em 1em 2em;
}

audio, canvas, iframe, img, svg, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 80vh;
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

p, ul, ol, dl {
  margin: 0 0 1.5em 0;
}

ol, ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

ol ol {
  margin: 0.5em 0 1em;
}

ul {
  ul, ol {
    margin: 0.5em 0 1em;
  }
}

ol ul {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul, ol {
  max-width: 100%;
  margin-left: 1em;
}

li > p {
  margin: 0.5em 0;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  color: $baseDarkGrey;
  font-weight: 500;
  text-align: right;
}

dd {
  margin: 0 0 5px 0;
  text-align: left;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: 600;
}

h1 {
  margin-top: 2rem;
  font-size: $type-size-1;
}

h2 {
  margin-top: 1.5rem;
  font-size: $type-size-2;
}

h3 {
  margin-top: 1.25rem;
  font-size: $type-size-3;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: $type-size-4;
}

p {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

input {
  font-size: $type-size-5;
  padding: 0.3em;
}