@import "sass";

$baseDarkGrey: #282822 !default;
$baseGrey: #808080 !default;
$baseLightGrey: #CCCC !default;
// $baseWhiteGrey: #E5EFF5 !default;
$baseBlue: #52ADC8 !default;
// $baseGreen: #A4D037 !default;
// $basePurple: #AD26B4 !default;
// $baseRed: #F05230 !default;
// $basePink: #FA3A57 !default;
// $baseBrown: #A3821A !default;

$basePaddingContent: 6em !default;

// --------------------------------

li > p {
  margin: 0.5em 0;
}