@import "global";
$fa-font-path: "/assets/fonts/font-awesome/";
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700');

a:hover {
  color: $baseGrey;
}

/* Small Screens */
@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }
  header {
    border-right: none;
    border-bottom: 1px #eee solid;
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 1em;
  }
  main, footer {
    margin-left: 0;
    padding: 2em 2em 1em 2em;
    width: auto;
  }
}

/* Tiny Screens */
@media only screen and (max-width: 320px) {
  header, main, footer {
    padding: 1.2em 1.2em 0.6em 1.2em;
  }
  ul, ol {
    margin-left: 2em;
  }
}

.page-title, .post-title {
  margin-top: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-top: 3em;
  > * {
    padding: 0.5em;
  }
}

.post-title {
  margin: 0;
}

.post-subtitle {
  margin-top: 0.5em;
  padding-bottom: 0.9em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5;
}

.post-title .feature-star {
  font-size: 0.9em;
}

.separator, .tags, .feature-star {
  color: $baseDarkGrey;
}

.tags {
  * {
    background-color: $baseDarkGrey;
    color: white;
    line-height: 1.5em;
    padding: 0.3em 0.6em 0.3em 0.6em;
    vertical-align: 20%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
  }
  a:hover {
    background-color: $baseGrey;
    color: white;
  }
  a {
    color: white;
  }
}

.taglist {
  display: inline-block;
}

.smallTag {
  font-size: 0.6em;
}

.read-on {
  display: flex;
  justify-content: flex-end;
}

article.post > .header {}

.post-content {
  h1 {
    border-bottom: 1px solid $baseLightGrey;
    padding-bottom: 0.5rem;
  }
  a {
    color: $baseBlue;
  }
  > p:first-child:first-letter {
    color: $baseDarkGrey;
    float: left;
    font-size: 75px;
    font-weight: 500;
    line-height: 60px;
    padding-right: 5px;
  }
}

.footnotes {
  border-top: 1px solid $baseLightGrey;
}

:root {
  --widthFullPaddingPercentage: 0.1;
}

.post-content {
  .kg-image {
    max-height: 100vh;
  }
  figure {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  figcaption {
    font-size: 80%;
    text-align: center;
  }
  .kg-width-wide {
    width: 100%;
  }
  .kg-width-full {
    width: calc(100% + $basePaddingContent * (2 - var(--widthFullPaddingPercentage) * 2));
    margin-left: calc($basePaddingContent * ((1 - var(--widthFullPaddingPercentage)) * -1));
  }
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100vw;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.page-tags .tags:not(:first-child) {
  margin-top: 1em;
}

.tag-template .tags {
  margin-top: 0.5em;
}

.page-archives .tags {
  margin-top: 1em;
}