---
layout: default
---

<section>

	<article class="title">
		<h1>
			<span class='btn inverse' alt="{{ page.title }}">
				{{ page.title }}
			</span>
		</h1>
	</article>
</section>

<section>
{% for post in page.posts %}
    {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           <h2>{{ currentDate }}</h2>
           {% assign myDate = currentDate %}
       {% endif %}
       <article>
			{{ post.date | date: "%d/%m" }} <span class='separator'> &middot; </span>  
				<a href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a>
		</article>
{% endfor %}
</section>